<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout View for Bookstore</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <link rel="stylesheet" href="~/css/logo.css" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="~/images/cr2.png" width="30" height="30" />
                    JoshBookStore
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/home/aboutus">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/home/contactus">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/book/getallbooks">All Books</a>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="btn btn-outline-primary">Login</a>
                                <a class="btn btn-primary">Register</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    @RenderSection("breadcrumb", required: false);
    <main role="main">
        @RenderBody()
    </main>
    <footer class="border-top card-footer text-muted text-center">
        <div class="container">
            copyright &copy; Book Store @DateTime.Now.Year;
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false);
</body>
</html>
